@import "~@foxone/uikit/src/styles/variables/_index.scss";

$body-font-family: "Inter", Roboto, Oxygen, "Helvetica Neue", "PingFang SC",
  sans-serif;
$border-radius-root: 16px;
$data-table-regular-row-height: 56px;

$material-dark: (
  "background": #393453,
  "cards": #474264,
  "text-fields": (
    "filled": #474264,
    "filled-hover": #5d587b
  ),
  "bottom-sheet": #474264
);

$container-max-widths: (
  "md": 960px,
  "lg": 960px,
  "xl": 960px
);
