span,
div,
p,
a {
  user-select: none;
}

a {
  text-decoration: none;
}

body {
  font-size: 16px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

html,
div {
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }
}
