.v-application {
  .v-main,
  .v-toolbar {
    transition: none !important;
  }

  .f-bottom-sheet {
    overflow: auto;
  }
}

.theme--light.v-application {
  background-color: #f8f8f8 !important;
  background: #f8f8f8 !important;
}

.theme--light.v-divider {
  border-color: rgba(0, 0, 0, 0.06);
}
